*{
    margin: 0;
    padding: 0;    
}

p{
    font-size: 14px;
}

a {
    margin-right: 47px;
    text-decoration: none;
    color: rgb(29, 29, 29);
}


.home{
    display: flex;
    position: relative;
    width: 1440px;
    height: 1540px;
    margin: 0 auto;
    background: #f5f5f7;
  
    .menuImg{
    position: absolute;
    top:0;
    left: 0; 
    }
    .logoImg{
    position: absolute;
    top:0;
    left: 0; 
    }
  


    .navbar{ 
        display: flex;
        flex-direction: row;

            &__logo{
                    display: flex;
                    width: 162px;
                    font-size: 24px;
                    position: absolute;
                    top: 56px;
                    left: 71px;
                    font-family: "Poppins"; 
            }

            &__menu{
                display: flex;
                flex-direction: row;
                width: 655px;
                position: absolute;
                top: 60px;
                left: 241.031px;
                font-size: 14px;
                font-family: "Poppins";
                line-height: 1.2;

            }

            &__contact{
                display: flex;
                width: 623px;
                justify-content: center;
                
                

                    .navbar__list{
                        display: flex;
                        flex-direction: row;

                        .navbar__list--contact {
                            font-size: 14px;
                            font-family: "Poppins";
                            color: rgba(29, 29, 29, 0.502);
                            line-height: 1.2;
                            text-align: left;
                            position: absolute;
                            left: 908.391px;
                            top: 60px;
                            z-index: 90;
                          }


                          .navbar__contact--select{ 
                            font-size: 14px;
                            font-family: "Poppins";
                            color: rgb(29, 29, 29);
                            line-height: 1.4;
                            text-align: left;
                            position: absolute;
                            left: 1101.922px;
                            top: 57px;
                            z-index: 91;
                            background: none;
                            border: none;
                            cursor: pointer;
                              
                    }
                        

                        .navbar__btn{
                            position: absolute;
                            border: 1px solid ;   
                            border-color: rgb(15, 110, 255);
                            color: rgb(15, 110, 255) ;
                            border-radius: 21px;
                            width: 134px;
                            height: 41px;
                            top: 43px; 
                            left: 1212.39px;
                            text-align: center;
                            font-size: 14px;
                            font-family: "Poppins";
                            line-height: 1.2;
                            z-index: 77;
                            left: 1184px;
                        }
                    }

            }
    
    }

    .mainContent{
        display: flex;
        position: absolute;
        top:215px;
        left:162px;
        flex-direction: column;

        &__title{
            font-size: 48px;
            width: 462px;
            font-family: "Poppins";
            color: rgb(29, 29, 29);
            font-weight: bold;
            line-height: 1.271;
            text-align: left;
            margin-bottom:55px;
        }

        &__text{
            font-family: "Poppins";
            font-size: 18px;
            color: #9c9c9c;
            line-height: 1.2;
            width: 566px;
            height: 82px;
            padding-bottom: 1rem;
            margin-bottom: 64px;
        }
        
        .mainContent__watch{
            position: absolute;

            .video__line{
                position: absolute;
                left: -162.5px;
                top: 70px;

            }

            .mainContent__text{
                position: absolute;
                top: 55px;
                left: 149px;
                font-size: 18px;
                font-family: "Poppins";
                color: rgb(15, 110, 255);

                .mainContent__text--watch{
                    position: absolute;
                    display: block;
                    height: 1.25px;
                    width:49px;
                    background: rgb(138, 173, 255);
                }
            }

            .modalVideo{
                position: fixed;
                display: flex;
                flex-direction: column;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 300ms ease-in-out; 
                border-radius: 7px;
                z-index: 10;
                background:#707071;
                max-width: 80%;
                padding: 5px;

                .modalVideo__close{
                    display: block;
                    font-size: 18px;
                    font-family: "Poppins";
                    color: white;
                    border: 1px solid rgb(15, 110, 255);
                    padding: 8px;
                    margin-top: 1rem;
                    cursor: pointer;
                    background: rgb(15, 110, 255);
                    // width: ;
                }


            }

            .modalVideo.activeModal{
                transform: translate(-50%, -50%) scale(1);
            }
           
        }
       
          
       
    }

}


  


  




  
  
  