*{
    margin: 0;
    padding: 0;    
}

p{
    font-size: 14px;
}

a {
    margin-right: 47px;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

body{
    background: pink;
}


.home{
    display: flex;
    position: relative;
    width: 1440px;
    height: 1540px;
    margin: 0 auto;
    background: #f5f5f7;
    // z-index: 1;
  
    .menuImg{
    position: absolute;
    top:0;
    left: 0;
    }
    
    .logoImg{
    position: absolute;
    top:0;
    left: 0; 
    z-index: 0;
    }
  


    .navbar{ 
        display: flex;
        flex-direction: row;

            &__logo{
                    display: flex;
                    width: 162px;
                    font-size: 24px;
                    position: absolute;
                    top: 56px;
                    left: 71px;
                    font-family: "Poppins"; 
            }

            &__menu{
                display: flex;
                flex-direction: row;
                width: 655px;
                position: absolute;
                top: 60px;
                left: 241.031px;
                font-size: 14px;
                font-family: "Poppins";
                line-height: 1.2;

                .navbar__list--item.active{
                    position: relative;
                    &:after{
                        display: block;
                        position: absolute;
                        left: 50%;
                        content: "|";
                    }
                    color:rgb(15, 110, 255);
                    font-weight: bold;
                }
                

            }

            &__contact{
                display: flex;
                width: 623px;
                justify-content: center;
                
                

                    .navbar__list{
                        display: flex;
                        flex-direction: row;

                       

                        .navbar__list--contact {
                            font-size: 14px;
                            font-family: "Poppins";
                            color: rgba(29, 29, 29, 0.502);
                            line-height: 1.2;
                            text-align: left;
                            position: absolute;
                            left: 908.391px;
                            top: 60px;
                            z-index: 90;

                            span.phone{
                                color: rgb(15, 110, 255) ;
                            }
                          }


                          .navbar__contact--select{ 
                            font-size: 14px;
                            font-family: "Poppins";
                            color: rgb(29, 29, 29);
                            line-height: 1.4;
                            text-align: left;
                            position: absolute;
                            left: 1101.922px;
                            top: 57px;
                            z-index: 91;
                            background: none;
                            border: none;
                            cursor: pointer;
                              
                    }
                        

                        .navbar__btn{
                            position: absolute;
                            border: 1px solid ;   
                            border-color: rgb(15, 110, 255);
                            
                            border-radius: 21px;
                            width: 134px;
                            height: 41px;
                            top: 43px; 
                            left: 1212.39px;
                            text-align: center;
                            font-size: 14px;
                            font-family: "Poppins";
                            line-height: 1.2;
                            z-index: 77;
                            left: 1184px;
                        }
                    }

            }
    
    }

    .mainContent{
        display: flex;
        position: absolute;
        top:215px;
        left:162px;
        flex-direction: column;

        &__title{
            font-size: 48px;
            width: 462px;
            font-family: "Poppins";
            color: rgb(29, 29, 29);
            font-weight: bold;
            line-height: 1.271;
            text-align: left;
            margin-bottom:55px;
        }

        &__text{
            font-family: "Poppins";
            font-size: 18px;
            color: #9c9c9c;
            line-height: 1.2;
            width: 566px;
            height: 82px;
            padding-bottom: 1rem;
            margin-bottom: 64px;
        }
        
        .mainContent__watch{
            position: absolute;


            .video__line{
                position: absolute;
                left: -162.5px;
                top: 63px;

            }

            .mainContent__text{
                position: absolute;
                top: 55px;
                left: 149px;
                font-size: 18px;
                font-family: "Poppins";
                color: rgb(15, 110, 255);

                .mainContent__text--watch{
                    position: absolute;
                    display: block;
                    height: 1.75px;
                    width:49px;
                    background: rgb(138, 173, 255);
                }
            }

            .modalVideo{
                position: fixed;
                display: flex;
                flex-direction: column;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                visibility: hidden;
                transition: 300ms ease-in-out; 
                border-radius: 7px;
                z-index: 9;
                background:#707071;
                max-width: 80%;
                padding: 5px;

                .modalVideo__close{
                    display: block;
                    font-size: 18px;
                    font-family: "Poppins";
                    color: white;
                    border: 1px solid rgb(15, 110, 255);
                    padding: 8px;
                    margin-top: 1rem;
                    cursor: pointer;
                    background: rgb(15, 110, 255);
                }


            }

            .modalVideo.activeModal{
                visibility: visible;
            }
           
        }
       

          
          
       
    }

    .blog{
        position: absolute;
        top: 916px;
        left: 196px;

        &__title{
            font-size: 14px;
            font-family: "Poppins";
            color: rgb(15, 110, 255);
            line-height: 1.2;
            text-align: left;
        }

        &__description{
            font-size: 36px;
            font-family: "Poppins";
            color: rgb(29, 29, 29);
            font-weight: bold;
            line-height: 1.333;
            text-align: left;
            margin-bottom: 80px;
        }
        &__line{
            position: absolute;
            left: 405px;
            top: 40px;
            display: inline;
            height: 1.75px;
            width:216px;
            background: rgb(138, 173, 255);
        }

        &__news{
            position: absolute;
            display: flex;
            flex-direction: row;
           

            .blog__news--item{
                // position: relative;
                display: flex;
                flex-direction: column;
                width: 291px;
                height: 361px;border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                border-bottom-left-radius: 25px;
                margin-right: 48px;
                padding-left: 41px;
                padding-top: 43px;

                .newsData{
                    font-size: 14px;
                    font-family: "Poppins";
                    color: rgba(102, 102, 102);
                    margin-top: 16px;
                }

              
                
            }
            

            .blog__news--item.blog__news-first{
  
               background: rgba(29, 29, 29);
               z-index: 10;

                .firstAutor{
                    font-size: 18px;
                    font-family: "Poppins";
                    color: rgb(255, 255, 255);
                    line-height: 1.611;
                    
                }
                .firstTitle{
                    font-size: 18px;
                    margin-top: 33px;
                    font-family: "Poppins";
                    color: rgb(255, 255, 255);
                    width: 169px;
                }
                  
                

                .firstButton{
                    color: white;
                    border: 1px solid white;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    font-family: "Poppins";
                    font-size: 12px;
                    line-height: 1.2;
                    margin-top: 45px;
                }

                .firstButton:hover{
                    color: rgb(15, 110, 255);
                }

                

            }

            .blog__news--item.blog__news-second{
                background: white;
              
                .newsInfo{
                    display: flex;
                    width: 208px;
                    flex-direction: row;
                    padding-bottom: 25px;
                    border-bottom: 1px solid rgb(29, 29, 29);
                    margin-bottom: 25px;
                    
                    .newsInfo__avatar{
                        display: flex;
                        margin-right: 20px;
                        width: 60px;
                    }
                    .secondAutor{
                        font-size: 14px;
                        font-family: "Poppins";
                        color: rgb(29, 29, 29);
                        font-weight: bold;
                        line-height: 1.2;
                    }
                }   
                  

                .secondTitle{
                    font-size: 14px;
                    font-family: "Poppins";
                    color: rgb(29, 29, 29);
                    line-height: 1.571;
                    padding-bottom: 5px;
                }
                .secondDescription{
                    font-size: 12px;
                    font-family: "Poppins";
                    color: rgba(102, 102, 102);
                    line-height: 1.571;
                    margin-bottom: 4px;
                    margin-top: 7px;
                }

                .newsLink{
                    font-size: 12px;
                    font-family: "Poppins";
                    color: rgb(15, 110, 255);
                    text-decoration: underline;
                    line-height: 1.583;
                    border-top: 11px;
                }

            }
           
        }

    }

    .leftDots{
        position: absolute;
        left: 1227px;
        top: 1066px;
        width: 187px;
        height: 133px;
    }
    .ellipse7{
        position: absolute;
        right: 66px;
        top: 467px;

    }
    .line11{
        position: absolute;
        left: 0px;
        top: 1357px;
        z-index: 12;
    }

    .image1{
        position: absolute;
        left: 931px;
        top: 176px;    
    }
    .image3{
        position: absolute;
        left: 1013px;
        top: 467px;
   
    }
    .image2{
        position: absolute;
        left: 513px;
        top: 467px;
    }

    .circleLeft{
        position: absolute;
        left: 896px;
        top: 752px;
    }
    .elipse9{
        display: flex;
        position: absolute;
        left: 1152px;
        top: 1025px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        
    }
    .ellipse56{
        position: absolute;
        left: 120px;
        top: 1068px;
        left: 120px;
        top: 1068px;
        width: 101px;
        height: 101px;
        z-index: 9;
    }

}

  
  
  


  

  

  
  
  

  




  
  
  