<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anna Kolbusz</title>
</head>
<body>
    <div class="home">
        <img class="menuImg" src="/img/Rectangle 2.png" alt="">
        <img class="logoImg" src="/img/Rectangle 3.png" alt="">
        <!-- navbar -->
        <navbar class="navbar">
            <div class="navbar__logo"><a href="#">Logo</a></div>
            <div class="navbar__menu">
                <div class="navbar__menu--home ">
                    <a class="navbar__list--item active" href="#">Home</a>
                   
                </div>
                <div class="navbar__menu--about">
                    <a class="navbar__list--item" href="#">Abaut</a>
                   
                </div>
                <div class="navbar__menu--service">
                    <a class="navbar__list--item" href="#">Service</a>
                </div>
                <div class="navbar__menu--Pages">
                    <a class="navbar__list--item" href="#">Pages</a>
                </div>
                
            </div>
            <div class="navbar__contact">
                
                    <ul class="navbar__list">
                        <li>
                             <div class="navbar__list--contact">
                                Call Us: <span class="phone">+48 123 456 789</span></p> 
                             </div>
                        </li>
                        <li>
                            <select class="navbar__contact--select"name="language" id="">
                                <option value="EN">EN</option>
                            </select>
                        </li>
                        <li><button class="navbar__btn">Contact Us</button></li>
                    </ul>
                
            </div>
    
        </navbar>

        <!-- mainContent -->
    <div class="mainContent">
        <h1 class="mainContent__title">Lorem ipsum dolor sit amet</h1>
        <p class="mainContent__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A ipsum provident vero repellendus aliquam atque et voluptatibus magnam alias, aliquid delectus consectetur, molestiae error eum iure in tenetur!</p>
        <div class="mainContent_video">
            
            <div class="mainContent__watch">

                <button class="video__icon" id="video__icon">
                    <img src="/img/Icon(play).png" alt="">
                </button>

                <div class="modalVideo " id="modalVideo">
                    <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/IQj8e60USMM" frameborder="0" allowfullscreen>
                    </iframe>
                    <button data-close-button  class="modalVideo__close" id="modalVideo_close">Close</button>
                </div>
                
                
                <div class="video__line">
                <img  src="/img/Line 4.png" alt=""> </div>

                <div class="mainContent__text">
                    <p>Watch demo</p>
                    <div class="mainContent__text--watch"></div>
                    <p>video</p>
                </div>
            </div>
            
        </div>

    </div>
    
    <!-- blog -->
    <div class="blog">
        <p class="blog__title">our blog</p>
        <div class="blog__line"></div>
        <h1 class="blog__description">Lorem, ipsum dolor.</h1>
        
        <div class="blog__news">
            <div class="blog__news--item blog__news-first">
                <p class="firstAutor"> Frank Lampart</p>
                <p class="newsData">20 Jan, 2023</p>
                <h1 class="firstTitle">Lorem ipsum dolor sit amet consectetur.</h1>
                <button class="firstButton">More</button>
            </div>
            
            <div class="blog__news--item blog__news-second">
                <div class="newsInfo">
                    <div class="newsInfo__avatar" ><img src="/img/avatar.png" alt=""></div>
                    
                    <div class="newsInfo__info">
                        <h2 class="secondAutor"> Frank Lampart</h2>
                        <p class="newsData">20 Jan, 2023</p>
                    </div>
                    
                </div>
                
                <h1 class="secondTitle">Lorem ipsum dolor sit amet consectetur.</h1>
                <p class="secondDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quod quisquam eligendi omnis eveniet.</p>
                <a class="newsLink" href="#">Read more</a>
            </div>
            <div class="blog__news--item blog__news-second">
                <div class="newsInfo">
                    <div class="newsInfo__avatar" ><img src="/img/avatar.png" alt=""></div>
                    
                    <div class="newsInfo__info">
                        <h2 class="secondAutor"> Frank Lampart</h2>
                        <p class="newsData">20 Jan, 2023</p>
                    </div>
                    
                </div>
                
                <h1 class="secondTitle">Lorem ipsum dolor sit amet consectetur.</h1>
                <p class="secondDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quod quisquam eligendi omnis eveniet.</p>
                <a class="newsLink" href="#">Read more</a>
            </div>
        </div>
        
    </div>

    <img class="leftDots" src="/img/Ellipse 40.png" alt="leftDots">
    <img class="ellipse7" src="/img/Ellipse7.png" alt="Ellipse7">
    <img class="line11" src="/img/Line 11.png" alt="Line11">
    <img class="image1" src="/img/image1.png" alt="image1">
    <img class="image2" src="/img/image2.png" alt="image2">
    <img class="image3" src="/img/image3.png" alt="image3">
    <img class="circleLeft" src="/img/circleLeft.png" alt="circleLeft">
    <img class="elipse9" src="/img/Ellipse 9.png" alt="Ellipse9">
    <img class="ellipse56" src="/img/Ellipse56.png" alt="Ellipse56">

    </div>
    

    
</body>
</html>