<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anna Kolbusz</title>
</head>
<body>
    <div class="home">
        <img class="menuImg" src="/img/Rectangle 2.png" alt="">
        <img class="logoImg" src="/img/Rectangle 3.png" alt="">
        <!-- navbar -->
        <navbar class="navbar">
            <div class="navbar__logo"><a href="#">Logo</a></div>
            <div class="navbar__menu">
                <div class="navbar__menu--home">
                    <a class="navbar__list--item" href="#">Home</a>
                   
                </div>
                <div class="navbar__menu--">
                    <a class="navbar__list--item" href="#">Abaut</a>
                   
                </div>
                <div class="navbar__menu--Home">
                    <a class="navbar__list--item" href="#">Service</a>
                </div>
                <div class="navbar__menu--Home">
                    <a class="navbar__list--item" href="#">Pages</a>
                </div>
                
            </div>
            <div class="navbar__contact">
                
                    <ul class="navbar__list">
                        <li>
                             <div class="navbar__list--contact">
                                Call Us:  +48 123 456 789</p> 
                             </div>
                        </li>
                        <li>
                            <select class="navbar__contact--select"name="language" id="">
                                <option value="EN">EN</option>
                            </select>
                        </li>
                        <li><button class="navbar__btn">Contact Us</button></li>
                    </ul>
                
            </div>
    
        </navbar>

        <!-- mainContent -->
    <div class="mainContent">
        <h1 class="mainContent__title">Lorem ipsum dolor sit amet</h1>
        <p class="mainContent__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A ipsum provident vero repellendus aliquam atque et voluptatibus magnam alias, aliquid delectus consectetur, molestiae error eum iure in tenetur!</p>
        <div class="mainContent_video">
            
            <div class="mainContent__watch">

                <button class="video__icon" id="video__icon">
                    <img src="/img/Icon(play).png" alt="">
                </button>

                <div class="modalVideo " id="modalVideo">
                    <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/IQj8e60USMM" frameborder="0" allowfullscreen>
                    </iframe>
                    <button data-close-button  class="modalVideo__close" id="modalVideo_close">Close</button>
                </div>
                
                
                <img class="video__line" src="/img/Line 4.png" alt=""> 

                <div class="mainContent__text">
                    <p>Watch demo</p>
                    <div class="mainContent__text--watch"></div>
                    <p>video</p>
                </div>
            </div>
            
        </div>

    </div>
    
    

    </div>


</body>
</html>