<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anna Kolbusz</title>
</head>
<body>
    <div class="home">
        <!-- navbar -->
        <navbar class="navbar">
            <div class="navbar__logo"><a href="#">Logo</a></div>
            <div class="navbar__menu">
                <div class="navbar__menu--home">
                    <a class="navbar__list--item" href="#">Home</a>
                   
                </div>
                <div class="navbar__menu--">
                    <a class="navbar__list--item" href="#">Abaut</a>
                   
                </div>
                <div class="navbar__menu--Home">
                    <a class="navbar__list--item" href="#">Service</a>
                </div>
                <div class="navbar__menu--Home">
                    <a class="navbar__list--item" href="#">Pages</a>
                </div>
                
            </div>
            <div class="navbar__contact">
                
                    <ul class="navbar__list">
                        <li>
                             <div class="navbar__list--contact">
                                Call Us:  +48 123 456 789</p> 
                             </div>
                        </li>
                        <li>
                            <select class="navbar__contact--select"name="language" id="">
                                <option value="EN">EN</option>
                            </select>
                        </li>
                        <li><button class="navbar__btn">Contact Us</button></li>
                    </ul>
                
            </div>
    
        </navbar>
    
    </div>


</body>
</html>